<html>
<head>
    <title>CSS Selectors</title>
</head>
<style>
    #h21{color: blueviolet}
    #h22{color: orangered}
    #h22{font-size: 50px}
    #h22{text-align: center}
    #h23{color: red}
    #h24{color: aqua}
    #h25{color: chartreuse}
    #h25{text-align:right}
    .cls1{text-decoration: underline}
    .cls1{font-family:cursive}
    .cls2{background-color:darkviolet;text-shadow: 3px 2px 3px blueviolet;}
    .cls3{margin-top: -20px}
    .cls4{font-size: 30px}
    .cls4{text-decoration: underline}
    .cls2{text-decoration: underline}

</style>
<body background="red">
<h2 id="h21" class="cls1">HTMT</h2>
<h2 id="h22" class="cls2 cls3">CSS</h2>
<h2 id="h23">Javascript</h2>
<h2 id="h24"class="cls4">Python</h2>
<h2 id ="h25">Django</h2>
</body>
</html>