<html>
<head>
    <title>Grid system</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstp.min.js"></script>
</head>
 <body>
 <div class="container">
     <div class="row">
         <div class="col-mid-4 bg-success">
             <h1 class="text-center text-white">HTML</h1>
         </div>
         <div class="col-md-4 bg-success">
             <h1 class="text-center text-white">Bootstrap</h1>
         </div>
         <div class="col-mid-4 bg-success">
             <h1 class="text-center text-white">CSS</h1>
         </div>
     </div>

     <div class="row" id="r2">
         <div class="offset-mid-4 col-md-6 bg- success">
             <h1 class="text-center text-white">UI TECHNOLOGY</h1>
         </div>
     </div>

     <div class="row" id="r3">
         <div class="offset-md-11 col-md-1 bg-warning">
             <h3 class="text-danger">Django</h3>
         </div>

     </div>
 </div>
 </body>
 </html>